<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      >Dating App</a
    >
    <!-- removing responsive functionality html becasue needs css done to work. Add later when finish proyect
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
     -->

    <!--use @if conditional to hide links is user is not logged in-->
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      @if(accountService.currentUser()){
      <li class="nav-item">
        <a class="nav-link" routerLink="/members" routerLinkActive="active"
          >Matches</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lists" routerLinkActive="active"
          >Lists</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/messages" routerLinkActive="active"
          >Messages</a
        >
      </li>
      }
      <li class="nav-item">
        <a class="nav-link" routerLink="/errors" routerLinkActive="active"
          >Errors</a
        >
      </li>
    </ul>
    <!--use @if conditional to hide links is user is not logged in-->
    @if(accountService.currentUser()){
    <div class="dropdown" dropdown>
      <img
        class="me-2"
        src="{{
          accountService.currentUser()?.photoUrl || './assets/user.png'
        }}"
        alt="user main image"
      />
      <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle
        >Welcome {{ accountService.currentUser()?.username | titlecase }}
      </a>
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item" routerLink="/member/edit">Edit profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
    }

    <!--If NOT Logged in put #loginform inside @if(!){} -->

    @if(!accountService.currentUser()){
    <!--Give the form a template reference variable #form & give submit() and pass login method-->
    <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex">
      <!--give name ="username" and entry model [(ngModel)]="model.username" -->
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-2"
        placeholder="Username"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2"
        placeholder="Password"
        type="password"
      />
      <button class="btn btn-secondary" type="submit">Login</button>
    </form>
    }
    <!--</div>-->
  </div>
</nav>
